In [1]:
import numpy as np
import pandas as pd

In [2]:
rng = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D')
rng.tz

In [3]:
rng_tz = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D', tz = 'Europe/London')
rng_tz.tz

In [8]:
from pytz import common_timezones, all_timezones
print(len(common_timezones))
print(len(all_timezones))
print(set(all_timezones) - set(common_timezones))

439
592
{'Etc/GMT-3', 'EET', 'Etc/GMT+3', 'Etc/GMT+7', 'Asia/Ashkhabad', 'US/Aleutian', 'Australia/Tasmania', 'Eire', 'W-SU', 'Asia/Katmandu', 'MST', 'America/Knox_IN', 'America/Fort_Wayne', 'UCT', 'Etc/GMT+2', 'Asia/Istanbul', 'Libya', 'Australia/South', 'Asia/Macao', 'Atlantic/Jan_Mayen', 'America/Rosario', 'GMT-0', 'Chile/Continental', 'GB', 'PST8PDT', 'America/Atka', 'Europe/Belfast', 'Asia/Kashgar', 'ROK', 'Etc/GMT-9', 'Etc/UTC', 'US/Samoa', 'Brazil/Acre', 'America/Ensenada', 'Australia/Queensland', 'Asia/Harbin', 'Etc/GMT-10', 'Pacific/Yap', 'Portugal', 'Poland', 'US/Pacific-New', 'Brazil/East', 'America/Porto_Acre', 'Etc/GMT-11', 'America/Indianapolis', 'Navajo', 'Iceland', 'PRC', 'Chile/EasterIsland', 'Asia/Thimbu', 'Asia/Ulan_Bator', 'America/Buenos_Aires', 'Etc/GMT+10', 'CST6CDT', 'Australia/North', 'Asia/Tel_Aviv', 'America/Mendoza', 'Europe/Tiraspol', 'Africa/Asmera', 'America/Montreal', 'Pacific/Samoa', 'America/Virgin', 'Etc/GMT', 'Europe/Nicosia', 'Etc/GMT-1', 'Jamaica', 'Israel', 'US/Michigan', 'Cuba', 'Etc/GMT-7', 'HST', 'NZ-CHAT', 'Zulu', 'Etc/Greenwich', 'Asia/Rangoon', 'Asia/Chongqing', 'Etc/GMT+0', 'Brazil/West', 'Asia/Calcutta', 'Africa/Timbuktu', 'Greenwich', 'Canada/Yukon', 'Etc/GMT-13', 'WET', 'Etc/GMT+1', 'America/Catamarca', 'Asia/Dacca', 'Brazil/DeNoronha', 'Etc/GMT-2', 'Pacific/Truk', 'Hongkong', 'Iran', 'Australia/Victoria', 'GMT0', 'Etc/GMT-8', 'Etc/GMT+6', 'Etc/GMT+5', 'Egypt', 'Etc/GMT+9', 'CET', 'Asia/Ujung_Pandang', 'US/East-Indiana', 'Etc/GMT-4', 'ROC', 'US/Indiana-Starke', 'America/Shiprock', 'Atlantic/Faeroe', 'Australia/NSW', 'Australia/West', 'Australia/LHI', 'Mexico/BajaNorte', 'Etc/GMT-14', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT0', 'Etc/UCT', 'Canada/Saskatchewan', 'Canada/East-Saskatchewan', 'Antarctica/South_Pole', 'GMT+0', 'Etc/GMT+4', 'Mexico/General', 'Kwajalein', 'Japan', 'MST7MDT', 'Etc/Zulu', 'Etc/GMT+12', 'Etc/GMT-12', 'Asia/Chungking', 'GB-Eire', 'NZ', 'Australia/Canberra', 'Etc/GMT+8', 'MET', 'America/Cordoba', 'Universal', 'Singapore', 'America/Jujuy', 'Pacific/Ponape', 'Etc/Universal', 'Mexico/BajaSur', 'Etc/GMT+11', 'Australia/Yancowinna', 'America/Santa_Isabel', 'EST', 'America/Argentina/ComodRivadavia', 'America/Louisville', 'America/Coral_Harbour', 'Etc/GMT-0', 'EST5EDT', 'Turkey', 'Asia/Saigon', 'Australia/ACT'}

In [9]:
# You can also localize a naive timestamp
t_naive = pd.Timestamp('2016-07-10 08:50')
t_naive

Timestamp('2016-07-10 08:50:00')

In [10]:
t = t_naive.tz_localize(tz = 'US/Central')
t

Timestamp('2016-07-10 08:50:00-0500', tz='US/Central')

In [11]:
t_naive # Doesn't do inplace

Timestamp('2016-07-10 08:50:00')

In [12]:
t.tz_convert('Asia/Tokyo')

Timestamp('2016-07-10 22:50:00+0900', tz='Asia/Tokyo')

The difference between tz.convert and tz.localize is that localize gives you the local time(sets) whereas the convert will take the time tnat's there and convert it to the timezone you wanted it in.

In [13]:
# how to handle daylight savings?
rng = pd.date_range('2016-03-10', periods=10, tz='US/Eastern')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00-05:00    0
2016-03-11 00:00:00-05:00    1
2016-03-12 00:00:00-05:00    2
2016-03-13 00:00:00-05:00    3
2016-03-14 00:00:00-04:00    4
2016-03-15 00:00:00-04:00    5
2016-03-16 00:00:00-04:00    6
2016-03-17 00:00:00-04:00    7
2016-03-18 00:00:00-04:00    8
2016-03-19 00:00:00-04:00    9
Freq: D, dtype: int64

In [30]:
rng_hourly=pd.DatetimeIndex(['2011/11/06 00:00','2011/11/06 01:00','2011/11/06 01:00','2011/11/06 02:00',
                               '2011/11/06 03:00','2011/11/06 04:00'])
rng_hourly

DatetimeIndex(['2011-11-06 00:00:00', '2011-11-06 01:00:00',
               '2011-11-06 01:00:00', '2011-11-06 02:00:00',
               '2011-11-06 03:00:00', '2011-11-06 04:00:00'],
              dtype='datetime64[ns]', freq=None)

In [32]:
rng_hourly = rng_hourly.tz_localize('US/Central',ambiguous ='infer')
rng_hourly

DatetimeIndex(['2011-11-06 00:00:00-05:00', '2011-11-06 01:00:00-05:00',
               '2011-11-06 01:00:00-06:00', '2011-11-06 02:00:00-06:00',
               '2011-11-06 03:00:00-06:00', '2011-11-06 04:00:00-06:00'],
              dtype='datetime64[ns, US/Central]', freq=None)

In [34]:
#to check if it actually does what we want it to we should convert it to UTC to Check
rng_hourly.tz_convert('UTC')

DatetimeIndex(['2011-11-06 05:00:00+00:00', '2011-11-06 06:00:00+00:00',
               '2011-11-06 07:00:00+00:00', '2011-11-06 08:00:00+00:00',
               '2011-11-06 09:00:00+00:00', '2011-11-06 10:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [35]:
rng = pd.date_range('2016-03-10', periods=10, tz='utc')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00+00:00    0
2016-03-11 00:00:00+00:00    1
2016-03-12 00:00:00+00:00    2
2016-03-13 00:00:00+00:00    3
2016-03-14 00:00:00+00:00    4
2016-03-15 00:00:00+00:00    5
2016-03-16 00:00:00+00:00    6
2016-03-17 00:00:00+00:00    7
2016-03-18 00:00:00+00:00    8
2016-03-19 00:00:00+00:00    9
Freq: D, dtype: int64

In [36]:
ts.tz_convert('US/Central')

2016-03-09 18:00:00-06:00    0
2016-03-10 18:00:00-06:00    1
2016-03-11 18:00:00-06:00    2
2016-03-12 18:00:00-06:00    3
2016-03-13 19:00:00-05:00    4
2016-03-14 19:00:00-05:00    5
2016-03-15 19:00:00-05:00    6
2016-03-16 19:00:00-05:00    7
2016-03-17 19:00:00-05:00    8
2016-03-18 19:00:00-05:00    9
Freq: D, dtype: int64

In [37]:
pd.date_range('03-12-2016 22:00', periods = 12, freq = 'H', tz = 'US/Eastern')

DatetimeIndex(['2016-03-12 22:00:00-05:00', '2016-03-12 23:00:00-05:00',
               '2016-03-13 00:00:00-05:00', '2016-03-13 01:00:00-05:00',
               '2016-03-13 03:00:00-04:00', '2016-03-13 04:00:00-04:00',
               '2016-03-13 05:00:00-04:00', '2016-03-13 06:00:00-04:00',
               '2016-03-13 07:00:00-04:00', '2016-03-13 08:00:00-04:00',
               '2016-03-13 09:00:00-04:00', '2016-03-13 10:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='H')

In [38]:
# May autocorrect an error rather than giving you a non-existent time error
pd.Timestamp('2016-03-13 02:00', tz = 'US/Eastern')

Timestamp('2016-03-13 03:00:00-0400', tz='US/Eastern')